.top{
    background-color: aqua;
}
#bottom{
    background-color: green;
}
body{
    background-color: honeydew;
}
#code{
    background-color: hotpink;
}
#para{
    background-color: yellowgreen;
}
#graph{
    background-color: teal;
}.One{
    background-color:  rgb(43, 255, 0);
}
.Two{
    background-color: rgb(128, 0, 21);
}